In [13]:
import data_process
reload(data_process)

In [14]:
pre = data_process.pre_process(filedir='/hdd/ctp/day/')

In [15]:
raw_data = pre.loaddata('20180205')

In [16]:
raw_data.shape

(2098929, 9)

In [17]:
ru = raw_data[raw_data['ticker']=='ru1805']

In [7]:
data_dic = pre.trim_merge(raw_data)

date is  20180205
JR803
WH805
RS809
LR803
RI803
fu1803
bb1802
CY805
wr1802
fb1805
PM803

In [8]:
calculated_dic = pre.calc_all_ticker(data_dic, '1s')

/home/hui/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/hui/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
calculated_dic['ru1805']

,ticker,bid_price,ask_price,mid_price,rolling_return,aggravated_return
2018-02-05 09:00:00.500,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:01.000,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:01.500,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:02.000,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:02.500,ru1805,12945.0,12950.0,12947.5,-0.000386,-0.000386
2018-02-05 09:00:03.000,ru1805,12945.0,12950.0,12947.5,-0.000386,-0.000386
2018-02-05 09:00:03.500,ru1805,12955.0,12965.0,12960.0,0.000965,0.000579
2018-02-05 09:00:04.000,ru1805,12955.0,12965.0,12960.0,0.000965,0.000579
2018-02-05 09:00:04.500,ru1805,12955.0,12960.0,12957.5,-0.000193,0.000386
2018-02-05 09:00:05.000,ru1805,12955.0,12960.0,12957.5,-0.000193,0.000386
2018-02-05 09:00:05.500,ru1805,12955.0,12965.0,12960.0,0.000193,0.000579
2018-02-05 09:00:06.000,ru1805,12955.0,12965.0,12960.0,0.000193,0.000579
2018-02-05 09:00:06.500,ru1805,12955.0,12960.0,12957.5,-0.000193,0.000386
2018-02-05 09:00:07.000,ru1805,12955.0,12960.0,12957.5,-0.000193,0.000386
2018-02-05 09:00:07.500,ru1805,12950.0,12955.0,12952.5,-0.000386,0.000000
2018-02-05 09:00:08.000,ru1805,12950.0,12955.0,12952.5,-0.000386,0.000000
2018-02-05 09:00:08.500,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:09.000,ru1805,12950.0,12955.0,12952.5,0.000000,0.000000
2018-02-05 09:00:09.500,ru1805,12945.0,12950.0,12947.5,-0.000386,-0.000386
2018-02-05 09:00:10.000,ru1805,12945.0,12950.0,12947.5,-0.000386,-0.000386
2018-02-05 09:00:10.500,ru1805,12935.0,12945.0,12940.0,-0.000579,-0.000965
2018-02-05 09:00:11.000,ru1805,12935.0,12945.0,12940.0,-0.000579,-0.000965
2018-02-05 09:00:11.500,ru1805,12940.0,12945.0,12942.5,0.000193,-0.000772
2018-02-05 09:00:12.000,ru1805,12940.0,12945.0,12942.5,0.000193,-0.000772
2018-02-05 09:00:12.500,ru1805,12935.0,12940.0,12937.5,-0.000386,-0.001158
2018-02-05 09:00:13.000,ru1805,12935.0,12940.0,12937.5,-0.000386,-0.001158
2018-02-05 09:00:13.500,ru1805,12930.0,12935.0,12932.5,-0.000386,-0.001544
2018-02-05 09:00:14.000,ru1805,12930.0,12935.0,12932.5,-0.000386,-0.001544
2018-02-05 09:00:14.500,ru1805,12935.0,12940.0,12937.5,0.000387,-0.001158
2018-02-05 09:00:15.000,ru1805,12935.0,12940.0,12937.5,0.000387,-0.001158
...,...,...,...,...,...,...
2018-02-05 14:59:45.500,ru1805,13050.0,13055.0,13052.5,0.000000,0.007721
2018-02-05 14:59:46.000,ru1805,13050.0,13055.0,13052.5,0.000000,0.007721
2018-02-05 14:59:46.500,ru1805,13050.0,13055.0,13052.5,0.000000,0.007721
2018-02-05 14:59:47.000,ru1805,13050.0,13055.0,13052.5,0.000000,0.007721
2018-02-05 14:59:47.500,ru1805,13055.0,13060.0,13057.5,0.000383,0.008107
2018-02-05 14:59:48.000,ru1805,13055.0,13060.0,13057.5,0.000383,0.008107
2018-02-05 14:59:48.500,ru1805,13050.0,13060.0,13055.0,-0.000191,0.007914
2018-02-05 14:59:49.000,ru1805,13050.0,13060.0,13055.0,-0.000191,0.007914
2018-02-05 14:59:49.500,ru1805,13055.0,13060.0,13057.5,0.000191,0.008107
2018-02-05 14:59:50.000,ru1805,13055.0,13060.0,13057.5,0.000191,0.008107
2018-02-05 14:59:50.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:51.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:51.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:52.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:52.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:53.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:53.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:54.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:54.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:55.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:55.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:56.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:56.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:57.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:57.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:58.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:58.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:59.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 14:59:59.500,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107
2018-02-05 15:00:00.000,ru1805,13055.0,13060.0,13057.5,0.000000,0.008107

In [18]:
ru

,ticker,bid_price,bid_volume,ask_price,ask_volume,last_price,last_volume,open_interest,turnover
2018-02-05 09:00:00.500,ru1805,12950.0,202,12955.0,1,12950.0,171874,503854,2.236292e+10
2018-02-05 09:00:01.000,ru1805,12950.0,12,12955.0,3,12950.0,172422,503782,2.243389e+10
2018-02-05 09:00:01.500,ru1805,12950.0,1,12955.0,3,12955.0,172632,503804,2.246109e+10
2018-02-05 09:00:02.000,ru1805,12940.0,33,12945.0,70,12940.0,172766,503850,2.247844e+10
2018-02-05 09:00:02.500,ru1805,12945.0,14,12950.0,36,12945.0,173386,503880,2.255871e+10
2018-02-05 09:00:03.000,ru1805,12950.0,4,12955.0,12,12950.0,173692,503906,2.259833e+10
2018-02-05 09:00:03.500,ru1805,12955.0,6,12965.0,14,12955.0,173788,503916,2.261076e+10
2018-02-05 09:00:04.000,ru1805,12955.0,17,12960.0,2,12955.0,173962,503902,2.263331e+10
2018-02-05 09:00:04.500,ru1805,12955.0,1,12960.0,4,12960.0,174098,503908,2.265093e+10
2018-02-05 09:00:05.000,ru1805,12950.0,88,12955.0,1,12950.0,174216,503866,2.266622e+10
2018-02-05 09:00:05.500,ru1805,12955.0,27,12965.0,6,12960.0,174258,503866,2.267166e+10
2018-02-05 09:00:06.000,ru1805,12955.0,3,12960.0,21,12955.0,174332,503870,2.268125e+10
2018-02-05 09:00:06.500,ru1805,12950.0,92,12955.0,8,12955.0,174402,503862,2.269032e+10
2018-02-05 09:00:07.000,ru1805,12950.0,88,12955.0,50,12960.0,174474,503898,2.269965e+10
2018-02-05 09:00:07.500,ru1805,12950.0,68,12955.0,28,12955.0,174568,503926,2.271182e+10
2018-02-05 09:00:08.000,ru1805,12950.0,35,12955.0,38,12950.0,174696,503970,2.272840e+10
2018-02-05 09:00:08.500,ru1805,12950.0,3,12955.0,34,12955.0,174782,503952,2.273954e+10
2018-02-05 09:00:09.000,ru1805,12945.0,35,12950.0,157,12950.0,174842,503904,2.274731e+10
2018-02-05 09:00:09.500,ru1805,12940.0,11,12950.0,162,12950.0,174960,504000,2.276258e+10
2018-02-05 09:00:10.000,ru1805,12935.0,72,12945.0,17,12940.0,174992,504020,2.276673e+10
2018-02-05 09:00:10.500,ru1805,12940.0,13,12945.0,99,12945.0,175080,504034,2.277811e+10
2018-02-05 09:00:11.000,ru1805,12940.0,2,12945.0,93,12940.0,175138,504000,2.278562e+10
2018-02-05 09:00:11.500,ru1805,12940.0,10,12945.0,87,12945.0,175178,503982,2.279080e+10
2018-02-05 09:00:12.000,ru1805,12935.0,62,12940.0,44,12940.0,175282,503994,2.280426e+10
2018-02-05 09:00:12.500,ru1805,12935.0,9,12940.0,34,12935.0,175420,504006,2.282211e+10
2018-02-05 09:00:13.000,ru1805,12930.0,73,12935.0,12,12935.0,175472,504020,2.282883e+10
2018-02-05 09:00:13.500,ru1805,12935.0,9,12940.0,41,12935.0,175536,504054,2.283711e+10
2018-02-05 09:00:14.000,ru1805,12935.0,17,12940.0,15,12940.0,175594,504078,2.284462e+10
2018-02-05 09:00:14.500,ru1805,12935.0,53,12940.0,24,12940.0,175672,504126,2.285471e+10
2018-02-05 09:00:15.000,ru1805,12940.0,31,12945.0,97,12940.0,175776,504100,2.286816e+10
...,...,...,...,...,...,...,...,...,...
2018-02-05 14:59:45.500,ru1805,13050.0,198,13055.0,1,13055.0,349762,499042,4.552042e+10
2018-02-05 14:59:46.000,ru1805,13050.0,195,13060.0,188,13050.0,349770,499042,4.552146e+10
2018-02-05 14:59:46.500,ru1805,13050.0,190,13055.0,1,13060.0,349782,499040,4.552303e+10
2018-02-05 14:59:47.000,ru1805,13055.0,9,13060.0,187,13055.0,349910,499108,4.553974e+10
2018-02-05 14:59:47.500,ru1805,13050.0,137,13055.0,2,13055.0,349930,499100,4.554235e+10
2018-02-05 14:59:48.000,ru1805,13050.0,141,13060.0,207,13055.0,349976,499106,4.554835e+10
2018-02-05 14:59:48.500,ru1805,13055.0,7,13060.0,231,13060.0,349982,499108,4.554914e+10
2018-02-05 14:59:49.000,ru1805,13050.0,137,13055.0,24,13055.0,350008,499104,4.555253e+10
2018-02-05 14:59:49.500,ru1805,13055.0,70,13060.0,226,13055.0,350094,499132,4.556376e+10
2018-02-05 14:59:50.000,ru1805,13055.0,70,13060.0,200,13060.0,350118,499112,4.556689e+10
2018-02-05 14:59:50.500,ru1805,13055.0,59,13060.0,174,13055.0,350170,499112,4.557368e+10
2018-02-05 14:59:51.000,ru1805,13055.0,67,13060.0,168,13060.0,350182,499114,4.557525e+10
2018-02-05 14:59:51.500,ru1805,13055.0,66,13060.0,175,13055.0,350194,499116,4.557682e+10
2018-02-05 14:59:52.000,ru1805,13055.0,74,13060.0,183,13055.0,350196,499118,4.557708e+10
2018-02-05 14:59:52.500,ru1805,13055.0,76,13060.0,174,13060.0,350204,499114,4.557812e+10
2018-02-05 14:59:53.000,ru1805,13055.0,70,13060.0,174,13060.0,350218,499114,4.557995e+10
2018-02-05 14:59:53.500,ru1805,13055.0,64,13060.0,168,13055.0,350242,499120,4.558308e+10
2018-02-05 14:59:54.000,ru1805,13055.0,66,13060.0,168,13055.0,350244,499122,4.558334e+10
2018-02-05 14:59:54.500,ru1805,13055.0,69,13060.0,168,13055.0,350250,499126,4.558413e+10
2018-02-05 14:59:55.000,ru1805,13055.0,65,13060.0,213,13060.0,350266,499138,4.558622e+10
2018-02-05 14:59:55.500,ru1805,13055.0,8,13060.0,211,13060.0,350396,499116,4.560319e+10
2018-02-05 14:59:56.000,ru1805,13055.0,7,13060.0,208,13060.0,350404,499114,4.560423e+10
2018-02-05 14:59:56.500,ru1805,13055.0,8,13060.0,208,13060.0,350410,499114,4.560502e+10
2018-02-05 14:59:57.000,ru1805,13055.0,6,13060.0,200,13060.0,350432,499100,4.560789e+10
2018-02-05 14:59:57.500,ru1805,13055.0,9,13060.0,180,13060.0,350476,499068,4.561364e+10
2018-02-05 14:59:58.000,ru1805,13055.0,14,13060.0,180,13060.0,350478,499066,4.561390e+10
2018-02-05 14:59:58.500,ru1805,13055.0,19,13060.0,165,13060.0,350508,499054,4.561782e+10
2018-02-05 14:59:59.000,ru1805,13055.0,28,13060.0,166,13055.0,350512,499054,4.561834e+10
2018-02-05 14:59:59.500,ru1805,13055.0,31,13060.0,174,13060.0,350516,499050,4.561886e+10
2018-02-05 15:00:00.000,ru1805,13055.0,27,13060.0,166,13055.0,350518,499050,4.561912e+10

In [6]:
ru = raw_data[raw_data['ticker']=='ru1805']
ru[['bid_price', 'ask_price']]

                         bid_price  ask_price
2018-02-05 09:00:00.500    12950.0    12955.0
2018-02-05 09:00:01.500    12950.0    12955.0
2018-02-05 09:00:01.500    12950.0    12955.0
2018-02-05 09:00:02.500    12945.0    12950.0
2018-02-05 09:00:02.500    12940.0    12945.0
2018-02-05 09:00:03.500    12955.0    12965.0
2018-02-05 09:00:03.500    12950.0    12955.0
2018-02-05 09:00:04.500    12955.0    12960.0
2018-02-05 09:00:04.500    12955.0    12960.0
2018-02-05 09:00:05.500    12955.0    12965.0
2018-02-05 09:00:05.500    12950.0    12955.0
2018-02-05 09:00:06.500    12955.0    12960.0
2018-02-05 09:00:06.500    12950.0    12955.0
2018-02-05 09:00:07.500    12950.0    12955.0
2018-02-05 09:00:07.500    12950.0    12955.0
2018-02-05 09:00:08.500    12950.0    12955.0
2018-02-05 09:00:08.500    12950.0    12955.0
2018-02-05 09:00:09.500    12945.0    12950.0
2018-02-05 09:00:09.500    12940.0    12950.0
2018-02-05 09:00:10.500    12935.0    12945.0
2018-02-05 09:00:10.500    12940.0    12945.0
2018-02-05 09:00:11.500    12940.0    12945.0
2018-02-05 09:00:11.500    12940.0    12945.0
2018-02-05 09:00:12.500    12935.0    12940.0
2018-02-05 09:00:12.500    12935.0    12940.0
2018-02-05 09:00:13.500    12930.0    12935.0
2018-02-05 09:00:13.500    12935.0    12940.0
2018-02-05 09:00:14.500    12935.0    12940.0
2018-02-05 09:00:14.500    12935.0    12940.0
2018-02-05 09:00:15.500    12940.0    12945.0
...                            ...        ...
2018-02-05 14:59:45.500    13050.0    13055.0
2018-02-05 14:59:45.500    13050.0    13055.0
2018-02-05 14:59:46.500    13050.0    13055.0
2018-02-05 14:59:46.500    13050.0    13060.0
2018-02-05 14:59:47.500    13055.0    13060.0
2018-02-05 14:59:47.500    13050.0    13055.0
2018-02-05 14:59:48.500    13050.0    13060.0
2018-02-05 14:59:48.500    13055.0    13060.0
2018-02-05 14:59:49.500    13055.0    13060.0
2018-02-05 14:59:49.500    13050.0    13055.0
2018-02-05 14:59:50.500    13055.0    13060.0
2018-02-05 14:59:50.500    13055.0    13060.0
2018-02-05 14:59:51.500    13055.0    13060.0
2018-02-05 14:59:51.500    13055.0    13060.0
2018-02-05 14:59:52.500    13055.0    13060.0
2018-02-05 14:59:52.500    13055.0    13060.0
2018-02-05 14:59:53.500    13055.0    13060.0
2018-02-05 14:59:53.500    13055.0    13060.0
2018-02-05 14:59:54.500    13055.0    13060.0
2018-02-05 14:59:54.500    13055.0    13060.0
2018-02-05 14:59:55.500    13055.0    13060.0
2018-02-05 14:59:55.500    13055.0    13060.0
2018-02-05 14:59:56.500    13055.0    13060.0
2018-02-05 14:59:56.500    13055.0    13060.0
2018-02-05 14:59:57.500    13055.0    13060.0
2018-02-05 14:59:57.500    13055.0    13060.0
2018-02-05 14:59:58.500    13055.0    13060.0
2018-02-05 14:59:58.500    13055.0    13060.0
2018-02-05 14:59:59.500    13055.0    13060.0
2018-02-05 14:59:59.500    13055.0    13060.0

[24239 rows x 2 columns]

In [100]:
data_dic = pre.trim_merge(raw_data)

date is  20180403
JR807
WH805
RS807
RI811
fu1805
bb1805
CY807
wr1804
fb1805
PM805

In [12]:
ap = data_dic['AP805']

In [15]:
ap.fillna(method='ffill', inplace=True)

In [26]:
tmp = pre.calcAll(ap, period='0s')

In [41]:
calculated_dic = pre.calc_all_ticker(data_dic, '500ms')

new_sample_lib.py:49: RuntimeWarning: invalid value encountered in double_scalars
  ret = (morning_mid[i] - morning_mid[i-step])/morning_mid[i-step]
new_sample_lib.py:58: RuntimeWarning: invalid value encountered in double_scalars
  ret = (afternoon_mid[i] - afternoon_mid[i - step]) / afternoon_mid[i - step]
new_sample_lib.py:58: RuntimeWarning: divide by zero encountered in double_scalars
  ret = (afternoon_mid[i] - afternoon_mid[i - step]) / afternoon_mid[i - step]
new_sample_lib.py:49: RuntimeWarning: divide by zero encountered in double_scalars
  ret = (morning_mid[i] - morning_mid[i-step])/morning_mid[i-step]

In [44]:
calculated_dic['ru1809']['rolling_return'].values

array([ 0.        ,  0.        , -0.00086749, ...,  0.        ,
        0.        ,  0.        ])

In [50]:
return_df = pre.merge_return(calculated_dic)

In [55]:
daylst = pre.generateDayLst(20180319,20180320)

In [82]:
return_dic = pre.load_multi_days(['20180409'], period='0s')

date is  20180409

In [75]:
return_dic['20180319'].shape

(28798, 41)

In [88]:
ru = data_dic['ru1809']

In [91]:
count_dic = {}
for key in data_dic.keys():
    tmp = data_dic[key]
    mid = tmp['bid_price']+tmp['ask_price']
    count = 0
    for i in mid:
        if i == 0:
            count += 1
    count_dic[key] = count

In [103]:
ru['ask_price'].shift(-500, freq='ms')

2018-04-03 09:00:00.000    11530.0
2018-04-03 09:00:00.500    11530.0
2018-04-03 09:00:01.000    11525.0
2018-04-03 09:00:01.500    11525.0
2018-04-03 09:00:02.000    11505.0
2018-04-03 09:00:02.500    11505.0
2018-04-03 09:00:03.000    11515.0
2018-04-03 09:00:03.500    11515.0
2018-04-03 09:00:04.000    11510.0
2018-04-03 09:00:04.500    11510.0
2018-04-03 09:00:05.000    11515.0
2018-04-03 09:00:05.500    11515.0
2018-04-03 09:00:06.000    11520.0
2018-04-03 09:00:06.500    11520.0
2018-04-03 09:00:07.000    11520.0
2018-04-03 09:00:07.500    11520.0
2018-04-03 09:00:08.000    11520.0
2018-04-03 09:00:08.500    11520.0
2018-04-03 09:00:09.000    11525.0
2018-04-03 09:00:09.500    11525.0
2018-04-03 09:00:10.000    11530.0
2018-04-03 09:00:10.500    11530.0
2018-04-03 09:00:11.000    11525.0
2018-04-03 09:00:11.500    11525.0
2018-04-03 09:00:12.000    11520.0
2018-04-03 09:00:12.500    11520.0
2018-04-03 09:00:13.000    11520.0
2018-04-03 09:00:13.500    11520.0
2018-04-03 09:00:14.000    11520.0
2018-04-03 09:00:14.500    11520.0
                            ...
2018-04-03 14:59:45.000    11425.0
2018-04-03 14:59:45.500    11425.0
2018-04-03 14:59:46.000    11425.0
2018-04-03 14:59:46.500    11425.0
2018-04-03 14:59:47.000    11425.0
2018-04-03 14:59:47.500    11425.0
2018-04-03 14:59:48.000    11425.0
2018-04-03 14:59:48.500    11425.0
2018-04-03 14:59:49.000    11425.0
2018-04-03 14:59:49.500    11425.0
2018-04-03 14:59:50.000    11430.0
2018-04-03 14:59:50.500    11430.0
2018-04-03 14:59:51.000    11430.0
2018-04-03 14:59:51.500    11430.0
2018-04-03 14:59:52.000    11430.0
2018-04-03 14:59:52.500    11430.0
2018-04-03 14:59:53.000    11430.0
2018-04-03 14:59:53.500    11430.0
2018-04-03 14:59:54.000    11430.0
2018-04-03 14:59:54.500    11430.0
2018-04-03 14:59:55.000    11430.0
2018-04-03 14:59:55.500    11430.0
2018-04-03 14:59:56.000    11430.0
2018-04-03 14:59:56.500    11430.0
2018-04-03 14:59:57.000    11430.0
2018-04-03 14:59:57.500    11430.0
2018-04-03 14:59:58.000    11435.0
2018-04-03 14:59:58.500    11435.0
2018-04-03 14:59:59.000    11435.0
2018-04-03 14:59:59.500    11435.0
Name: ask_price, Length: 28800, dtype: float64

In [94]:
raw_data[raw_data['ticker'] == 'wr1804']

,ticker,bid_price,bid_volume,ask_price,ask_volume,last_price,last_volume,open_interest,turnover
2018-04-03 09:00:00.500,wr1804,0.0,0,0.0,0,3121.0,0,0,0.0
2018-04-03 10:15:00.500,wr1804,0.0,0,0.0,0,3121.0,0,0,0.0
2018-04-03 10:30:00.500,wr1804,0.0,0,0.0,0,3121.0,0,0,0.0
2018-04-03 13:30:00.500,wr1804,0.0,0,0.0,0,3121.0,0,0,0.0

In [108]:
data = return_dic['20180409']

In [110]:
tmp = data['ru0']

tmp

In [114]:
tmp = tmp.values[2:]

In [118]:
data.replace()

ValueError: Length of values does not match length of index

In [117]:
tmp

array([0.00131637, 0.        , 0.00065732, ..., 0.        , 0.        ,
       0.        ])