In [143]:
reload(corrlab)

In [170]:
cursor.execute("SELECT concat('DROP TABLE IF EXISTS ', table_name, ';') FROM information_schema.tables WHERE table_schema = 'db_corr';")

1L

In [149]:
filedir ='/hdd/ctp/day/'
start_date = '20171113'
end_date = '20171113'
type = 1      # 1 for aggravated, 0 for rolling
ticker1 = 'ru0'
outputdir = u'/home/hui/文档/corr output/'
lagLst = ['1s','5s','10s','30s','60s']
periodLst = ['1s','5s','10s','30s','60s']

# typelst = ['noble', 'nonferrous', 'black', 'farm', 'chemical', 'futures', 'loan']

import pandas as pd
import numpy as np
import re
import matplotlib.pylab as plt
import seaborn as sns
import os
import gc
import corrlab
import MySQLdb


def createTable():
    conn = MySQLdb.connect(host = 'localhost',user='root',passwd='hhui123456')
    cursor = conn.cursor()
    cursor.execute("""create database if not exists db_corr""")
    conn.select_db('db_corr')
    cursor.execute("""create table if not exists tb_corr(
    start_date DATE not null,
    end_date DATE not null,
    ticker1 varchar(32) not null,
    ticker2 varchar(32) not null,
    type SMALLINT not null DEFAULT 0, 
    period INT not null,
    lag INT not null,
    corr DOUBLE,
    symbol1 varchar(32),
    symbol2 varchar(32),
    primary key(start_date, end_date, ticker1, ticker2, type, lag)
    )""")

createTable()


conn = MySQLdb.connect(host='localhost', user='root', passwd='hhui123456')
cursor = conn.cursor()
conn.select_db('db_corr')

res = pd.DataFrame()

corr = corrlab.corrAna(filedir = filedir, start_date= start_date, end_date= end_date, type= type)
dayLst = corr.generateDayLst()

for day in dayLst:   # 时间跨度为1天
    lst = []
    lst.append(day)
    data = corr.concatdata(lst)
    target = corr.getsymbol(data, ticker1)
    for lag in lagLst:
        for period in periodLst:
            res = pd.DataFrame()
            temp = data.copy()
            sampled = corr.sampledata(temp, period = period)
            sampled.dropna(how = 'all',axis = 0,inplace=True)
            sampled.fillna(method = 'ffill',inplace=True)
            shifted = corr.shift_align(sampled, target= target, lag = lag, align_base=corr.get_align_base(sampled))
            temp_corr = shifted.corr()
            res = pd.concat([res,temp_corr[target]])
            res.rename(columns = {0:day},inplace=True)
            res.fillna(-2,inplace=True)
            for symbol in res.index.values:
                corr_value = res[day][symbol]
                ticker2 = symbol[:2]+ticker1[-1]
                cursor.execute("""REPLACE INTO tb_corr(
                            start_date,
                            end_date,
                            ticker1,
                            symbol1,
                            ticker2,
                            symbol2,
                            type,
                            period,
                            lag,
                            corr)
                            VALUES (
                            '%s', '%s','%s','%s','%s','%s','%d','%d','%d','%.6f'
                            )
                            """ % (day, day, ticker1, target, ticker2, symbol, type,int(period[:-1]), int(lag[:-1]), corr_value))
                conn.commit()

/home/hui/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:26: Warning: Can't create database 'db_corr'; database exists
/home/hui/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:40: Warning: Table 'tb_corr' already exists

In [161]:
createTable()
for lag in lagLst:
        for period in periodLst:
            res = pd.DataFrame()
            temp = data.copy()
            sampled = corr.sampledata(temp, period = period)
            sampled.dropna(how = 'all',axis = 0,inplace=True)
            sampled.fillna(method = 'ffill',inplace=True)
            shifted = corr.shift_align(sampled, target= target, lag = lag, align_base=corr.get_align_base(sampled))
            temp_corr = shifted.corr()
            res = pd.concat([res,temp_corr[target]])
            res.rename(columns = {0:day},inplace=True)
            res.fillna(-2,inplace=True)
            for symbol in res.index.values:
                corr_value = res[day][symbol]
                ticker2 = symbol[:2]+ticker1[-1]
                cursor.execute("""REPLACE INTO tb_corr(
                            start_date,
                            end_date,
                            ticker1,
                            symbol1,
                            ticker2,
                            symbol2,
                            type,
                            period,
                            lag,
                            corr)
                            VALUES (
                            '%s', '%s','%s','%s','%s','%s','%d','%d','%d','%.6f'
                            )
                            """ % (day, day, ticker1, target, ticker2, symbol, type,int(period[:-1]), int(lag[:-1]), corr_value))
                conn.commit()

/home/hui/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:26: Warning: Can't create database 'db_corr'; database exists
/home/hui/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:40: Warning: Table 'tb_corr' already exists

In [166]:
res[day][symbol]

-0.066159073594398585

In [175]:
cursor.execute('select * from tb_corr where ticker2 = "SF0"')
rec = cursor.fetchall()

In [176]:
for i in rec:
    print i

(datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 'ru0', 'SF0', 1, 60L, 1L, -2.0, 'ru0', 'SF0')
(datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 'ru0', 'SF0', 1, 60L, 5L, -2.0, 'ru0', 'SF0')
(datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 'ru0', 'SF0', 1, 60L, 10L, -2.0, 'ru0', 'SF0')
(datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 'ru0', 'SF0', 1, 60L, 30L, -2.0, 'ru0', 'SF0')
(datetime.date(2017, 11, 13), datetime.date(2017, 11, 13), 'ru0', 'SF0', 1, 60L, 60L, -0.066159, 'ru0', 'SF0')

In [171]:
symbol

'SF0'